.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.generateButton {
  border-radius: 5px;
  background-color: #054bdd;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
  text-transform: uppercase;
}

.generateButton:hover {
  background-color: #3d91e6;
}
.buttonPdf {
  border: none;
  padding: 5px;
  border-radius: 4px;
  background-color: transparent;
}

.buttonPdf:hover {
  cursor: pointer;
}

.uploadSection {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.uploadSection h2 {
  font-size: 18px;
}

.uploadRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.label {
  flex: 1;
  padding: 0 10px;
  font-size: 16px;
  text-align: left;
}

.fileInput {
  flex: 2;
  padding: 5px;
}

.uploadButton {
  background-color: #054bdd;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 110px;
}

.uploadButton:hover {
  background-color: #3d91e6;
}

.generateButton:disabled,
.uploadButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}


.toggleButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
